<div class="card col-md-12">
  <div class="messages-container">
    <p-messages></p-messages>
  </div>
  <div class="row mt-2">
    <div class="col-md-10">
      <div class="text-grey-6 py-2 px-2">
        <strong>Rating Model</strong>
      </div>
    </div>
    <div class="col-md-2 text-right padding-right30">
      <p-button (click)="showDialog()" label="Add Tab"></p-button>
    </div>
  </div>
  <div class="card card-container col-md-12 mt-2">
    <p-treeTable
      [value]="files"
      [scrollable]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode">
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{ rowData.name }}
          </td>
          <td style="display: flex; justify-content: right">
            <i
              class="pi pi-link"
              [style]="{ 'margin-right': '.8em' }"
              (click)="dependantCompoentClick(rowData)"
            ></i>
            <i
              class="pi"
              [ngClass]="{
                'pi-eye': rowData.hide,
                'pi-eye-slash': !rowData.hide
              }"
              [style]="{ 'margin-right': '.8em' }"
              (click)="toggleEyeIcon(rowNode, rowData)"
            ></i>
            <i
              class="pi pi-pencil"
              [style]="{ 'margin-right': '.8em' }"
              (click)="editTab(rowData, rowNode)"
            ></i>
            <i
              class="pi pi-copy"
              [style]="{ 'margin-right': '.8em' }"
              (click)="copyTab(rowNode, rowData)"
            ></i>
            <i
              class="pi pi-plus-circle"
              [style]="{ 'margin-right': '.8em' }"
              (click)="AddContainer(rowNode)"
            ></i>
            <i
              class="pi pi-trash"
              [style]="{ 'margin-right': '.8em' }"
              (click)="deletTab(rowNode, rowData)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>

  <div class="col-md-12 dry-run mt-2">
    <p-button
      (click)="showTabs()"
      class="float-right"
      label="Dry Run"
    ></p-button>
    <p-button
      (click)="SubmitTabs()"
      class="float-right"
      label="Submit"
      [style]="{ 'margin-left': '.8em' }"
    ></p-button>
  </div>
</div>

<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <strong class="text-xl font-bold">{{ tabTitle }}</strong>
  </ng-template>
  <hr class="p-divider" />
  <div style="margin: 5px; margin-top: 20px">
    <span class="p-float-label">
      <input type="text" pInputText [(ngModel)]="tabName" />
      <label htmlFor="username">Enter Tab Name</label>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <hr class="p-divider" />
    <p-button
      (click)="saveTabs()"
      label="save"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="componentVisible"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="header">
    <strong class="text-xl font-bold">Dependent Component</strong>
  </ng-template>
  <hr class="p-divider" />
  <div class="col-md-12">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6">
        <span class="p-float-label">
          <!-- [(ngModel)]="component" -->
          <p-dropdown
            placeholder="Select Component"
            optionLabel="name"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Select Component</label>
        </span>
      </div>
      <div class="col-md-6">
        <span class="p-float-label">
          <!-- [(ngModel)]="dependentComponent" -->
          <p-dropdown
            placeholder="Dependent Value"
            optionLabel="name"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Dependent Value</label>
        </span>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <hr class="p-divider" />
    <p-button
      (click)="saveComponents()"
      label="save"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="containerVisible"
  [style]="{ width: '80vw', height: '1200px' }"
>
  <ng-template pTemplate="header">
    <strong class="text-xl font-bold">Add Container</strong>
    <!-- <label><input type="radio" [(ngModel)]="selectedOption" value="container" (click)="showcontaineronclick()" > Add Container </label>
    <label><input type="radio" [(ngModel)]="selectedOption" value="table" (click)="showTableonclick()" > Table</label> -->
  </ng-template>
  <hr class="p-divider" />
  <div style="margin: 5px">
    <div class="radio-button-container">
      <div class="radio-button-item">
        <p-radioButton
          name="pizza"
          value="container"
          [(ngModel)]="containerValue"
          inputId="ingredient1"
        ></p-radioButton>
        <label for="ingredient1" style="margin-left: 5px">Container</label>

        <p-radioButton
          name="pizza"
          value="table"
          [(ngModel)]="containerValue"
          inputId="ingredient2"
          [style]="{ 'margin-left': '30px' }"
        ></p-radioButton>
        <label for="ingredient2" style="margin-left: 10px">Table</label>
      </div>
    </div>
    <span *ngIf="containerValue === 'container'" class="p-float-label mt-4">
      <input type="text" pInputText [(ngModel)]="containerName" />
      <label htmlFor="username">Title</label>
    </span>
  </div>
  <div *ngIf="containerValue === 'table'">
    <div class="row">
      <div class="col-md-3">
        <span class="p-float-label mt-4">
          <input type="text" pInputText [(ngModel)]="tableName" />
          <label htmlFor="username">Title</label>
        </span>
      </div>
      <div class="col-md-3" style="margin-left: 55px">
        <span class="p-float-label mt-4">
          <input
            type="number"
            pInputText
            [(ngModel)]="Noofcolumns"
            (ngModelChange)="onChangecolumn($event)"
          />
          <label htmlFor="username">No of columns</label>
        </span>
      </div>
      <div class="col-md-3" style="margin-left: 55px">
        <span class="p-float-label mt-4">
          <input
            type="number"
            pInputText
            [(ngModel)]="Noofrows"
            (ngModelChange)="onChangerow($event)"
          />
          <label htmlFor="username">No of rows</label>
        </span>
      </div>
    </div>

    <span>
      <label [style]="{ margin: '10px' }"> Select Columns to merged</label>
      <div class="column-class">
        <table>
          <thead>
            <tr>
              <th
                *ngFor="
                  let item of tableForm.controls;
                  let indexOfelement = index
                "
                (mouseenter)="onCellMouseEntercolumn($event, indexOfelement)"
                [pTooltip]="tooltipTextcolumn.join(', ')"
                tooltipPosition="top"
              >
                <div>
                  <form [formGroup]="item" role="form" class="formstyle">
                    <!-- <input
                      type="checkbox"
                      formControlName="mergecheckbox"
                     
                      [style]="{
                        position: 'absolute',
                        'margin-left': '170px',
                        'margin-top': '4px'
                      }"
                    />
                    <input
                      type="text"
                      pInputText
                      formControlName="columnName"
                    /> -->

                    <input
                      pInputText
                      type="text"
                      class="input-field"
                      formControlName="columnName"
                    />
                    <input
                      *ngIf="IsMerge"
                      type="checkbox"
                      class="checkbox"
                      formControlName="mergecheckbox"
                    />
                  </form>
                </div>
              </th>
            </tr>
            <tr *ngFor="let item of tableFormforrow.controls; let i = index">
              <td
                *ngFor="let ritem of item.controls; let index = index"
                (mouseenter)="onCellMouseEnter($event, i, index)"
                [pTooltip]="tooltipText.join(', ')"
                tooltipPosition="top"
                
              >
                <div>
                  <form [formGroup]="ritem" role="form">
                    <input
                      type="text"
                      pInputText
                      formControlName="rowName"
                      (click)="EditCell(i, index)"
                    />
                    <input
                      [id]="'DynamicId-' + i + index"
                      *ngIf="IsMerge"
                      type="checkbox"
                      class="checkbox"
                      formControlName="mergecheckbox"
                     
                    />
                  </form>
                </div>
              </td>

              <td>
                <div>
                  <p-button
                    (click)="clickforrowstyle(i)"
                    label="Row Style"
                    styleClass="p-button-text"
                  ></p-button>
                  <span class="delete" (click)="removeRow(i)">
                    <i
                      class="pi pi-trash"
                      [ngStyle]="{
                        'margin-left': '10px',
                        'padding-bottom': '10px'
                      }"
                    ></i>
                  </span>
                  <span class="Add" (click)="AddRow(i)">
                    <i
                      class="pi pi-plus-circle"
                      [ngStyle]="{
                        'margin-left': '10px',
                        'padding-bottom': '10px'
                      }"
                    ></i>
                  </span>
                </div>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </span>
    <div class="row">
      <!-- <div class="col-md-2">
        <p-button
          (click)="AddRow()"
          label="Add Row"
          styleClass="p-button-text"
          [style]="{
            'margin-top': '10px',
            'background-color': '#0d89ec',
            color: 'white',
            width: '150px'
          }"
        ></p-button>
      </div> -->

      <div class="col-md-2">
        <p-button
          (click)="mergecolumn()"
          label="Merge Columns"
          styleClass="p-button-text"
          [style]="{
            'margin-top': '10px',
            'background-color': '#0d89ec',
            color: 'white',
            width: '150px'
          }"
        ></p-button>
      </div>
      <div class="col-md-1" style="margin-top: 10px">
        <label *ngIf="IsMerge" htmlFor="username">Merge Title</label>
      </div>

      <!-- <div class="row" *ngFor="let item of newmergecolumnlist">
        {{ item.columnName }}
        <div
          class="col-md-2"
          *ngFor="let column of item.columnindex; let i = index"
        >
          {{ column }}
        </div>
      </div> -->

      <div class="col-md-3" style="margin-top: 10px">
        <input
          *ngIf="IsMerge"
          type="text"
          pInputText
          label="Merge Columns Name"
          [(ngModel)]="Mergecolumnname"
        />
      </div>
    </div>

    <span>
      <div class="radio-button-container">
        <div class="radio-button-item" [style]="{ 'margin-top': '20px' }">
          <div class="row">
            <div class="col-md-2">
              <input
                type="checkbox"
                name="pizza"
                value="Score"
                [(ngModel)]="scoreValue"
                inputId="ingredient1"
                [style]="{ 'margin-left': '10px' }"
              /><label htmlFor="username" style="margin-left: 10px"
                >Score</label
              >
            </div>
            <div class="col-md-2">
              <input
                type="checkbox"
                name="pizza"
                value="Factor"
                [(ngModel)]="factorValue"
                inputId="ingredient2"
                [style]="{ 'margin-left': '10px' }"
              /><label htmlFor="username" style="margin-left: 10px"
                >Factor</label
              >
            </div>
            <div class="col-md-2">
              <input
                type="checkbox"
                name="pizza"
                value="Total"
                [(ngModel)]="totalValue"
                inputId="ingredient3"
                [style]="{ 'margin-left': '10px' }"
              /><label htmlFor="username" style="margin-left: 10px"
                >Total</label
              >
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <hr class="p-divider" />
    <p-button
      (click)="saveContainer()"
      label="save"
      styleClass="p-button-te
      xt"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="CellStyleVisible"
  [style]="{ width: '55vw', height: '400px' }"
>
  <ng-template pTemplate="header">
    <strong class="text-xl font-bold">Add Cell Property</strong>
  </ng-template>
  <hr class="p-divider" />
  <form [formGroup]="CellformGroup">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <label htmlFor="username">Input Type</label><br />
          <select
            formControlName="inputtype"
            [style]="{
              width: '200px',
              height: '40px',
              'border-color': 'lightgray'
            }"
            (change)="selectedoption($event)"
          >
            <option *ngFor="let option of options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label *ngIf="IsLabel" htmlFor="username">Label</label>
          <input *ngIf="IsLabel" pInputText formControlName="rowNameValue" />
        </div>
        <div class="col-md-3" [style]="{ 'margin-left': '50px' }">
          <label htmlFor="username">Background color</label>
          <input
            *ngIf="Istext"
            type="text"
            pInputText
            [value]="selectedColor"
            (click)="changebackgroundcolor()"
            formControlName="BackGroundcolour"
          />

          <input
            *ngIf="Iscolor"
            type="color"
            (input)="updateColor($event)"
            formControlName="BackGroundcolour"
            [style]="{ width: '90px' }"
            #colorPicker
          />
        </div>
        <div class="col-md-3">
          <label htmlFor="username">Font Color</label><br />
          <input
            *ngIf="IsFonttext"
            type="text"
            pInputText
            [value]="selectedFontColor"
            (click)="changeFontcolor()"
            formControlName="Fontcolour"
          />
          <input
            *ngIf="IsFontcolor"
            type="color"
            (input)="updateFontColor($event)"
            formControlName="Fontcolour"
            [style]="{ width: '90px' }"
            #colorPicker
          />
        </div>
        <div
          class="col-md-3"
          *ngIf="IsCheckbox"
          style="margin-top: 22px; margin-left: 60px"
        >
          <p-button
            (click)="addcheckboxvalid()"
            label="Add"
            styleClass="p-button-te
          xt"
          ></p-button>
        </div>
      </div>
    </div>
    <div *ngIf="IsCheckboxadd">
      <div class="col-md-12" formArrayName="checkboxvalid">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3" style="margin-left: 20px">
              <label htmlFor="username">Label</label>
            </div>
          </div>
        </div>

        <div
          class="row"
          *ngFor="let quantity of checkboxvalid().controls; let i = index"
          [formGroupName]="i"
        >
          <div class="col-md-3" style="margin-top: 5px">
            <input type="text" pInputText formControlName="Label" />
          </div>
          <div class="col-md-2">
            <div class="deleteIcon" (click)="removecheckboxvalid_(i)">
              <i class="pi pi-trash"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <hr class="p-divider" />
    <p-button
      (click)="saveCellStyle()"
      label="save"
      styleClass="p-button-te
      xt"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Header"
  [(visible)]="RowStyleVisible"
  [style]="{ width: '55vw', height: '400px' }"
>
  <ng-template pTemplate="header">
    <strong class="text-xl font-bold">Add Row Property</strong>
  </ng-template>
  <hr class="p-divider" />
  <form [formGroup]="RowformGroup">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <label htmlFor="username">Font Size</label>
          <p-inputNumber inputId="integeronly" formControlName="Fontsize">
          </p-inputNumber>
          <!-- <input  type="number" formControlName="Fontsize"/> -->
        </div>
        <div class="col-md-4" style="margin-left: 50px">
          <label htmlFor="username">Text Case</label><br />
          <select
            formControlName="textTransform"
            [style]="{
              width: '200px',
              height: '40px',
              'border-color': 'lightgray'
            }"
          >
            <option *ngFor="let option of textcaseoption" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <label htmlFor="username">Font Weight</label><br />
          <select
            formControlName="Fontweight"
            [style]="{
              width: '200px',
              height: '40px',
              'border-color': 'lightgray'
            }"
          >
            <option *ngFor="let option of Fontweightoption" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <label htmlFor="username">Font Style</label><br />
          <select
            formControlName="Fontstyle"
            [style]="{
              width: '200px',
              height: '40px',
              'border-color': 'lightgray'
            }"
          >
            <option *ngFor="let option of Fontstyleoption" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="col-md-3" [style]="{ 'margin-left': '108px' }">
          <label htmlFor="username">Background color</label>
          <input
            *ngIf="IsRowtext"
            type="text"
            pInputText
            [value]="RowselectedColor"
            (click)="changeRowbackgroundcolor()"
            formControlName="RowBackGroundcolour"
          />

          <input
            *ngIf="IsRowcolor"
            type="color"
            (input)="updateRowColor($event)"
            formControlName="RowBackGroundcolour"
            [style]="{ width: '90px' }"
            #colorPicker
          />
        </div>
        <div class="col-md-3" [style]="{ 'margin-left': '60px' }">
          <label htmlFor="username">Font Color</label><br />
          <input
            *ngIf="IsRowFonttext"
            type="text"
            pInputText
            [value]="selectedRowFontColor"
            (click)="changeRowFontcolor()"
            formControlName="RowFontcolour"
          />
          <input
            *ngIf="IsRowFontcolor"
            type="color"
            (input)="updateRowFontColor($event)"
            formControlName="RowFontcolour"
            [style]="{ width: '90px' }"
            #colorPicker
          />
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <hr class="p-divider" />
    <p-button
      (click)="saveRowStyle()"
      label="save"
      styleClass="p-button-te
      xt"
    ></p-button>
  </ng-template>
</p-dialog>
