.card-container{
  margin: 10px;
  width: auto;
  overflow-y: auto;
  height: 490px;
  
}

.dry-run{
  display: flex;
  justify-content: right;
  padding-right: 75px;
  margin-bottom: 5px;
  
}
.messages-container {
  position: fixed;  /* Set the position to fixed */
  top: 20px;       /* Adjust the top position as per your requirement */
  right: 20px;     /* Adjust the right position as per your requirement */
  z-index: 9999;   /* Ensure a high z-index to make it appear above other elements */
}
.p-divider {
  border: none;
  border-top: 1px solid black;
  margin: 10px 0;
}
.deleteIcon{
  margin-left: 50px;
  margin-top: 10px;
}
table {

  border: 1px solid lightgray;
  width: 100%;
  height: auto;

}

.input-field1{
  height: 40px;
  width:100%;
  border:none;
}

th, td {
  border: 1px solid lightgray;
 min-width: 200px;
  height: auto;

}


.table-container {
  margin-top: 20px;
  max-height: 180px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
overflow-x:auto
}

.popupcontainer{
  background-color: #ECECEC;
  padding-bottom: 10px;
  padding-top: 10px;
}
.inputstyle{
  width: 270px;
    margin-left: 5px;
}

.disabled-cell {
  opacity: 0.5;
  background-color: lightgray;
  pointer-events: none;
  /* Additional styling for disabled cells */
}
.red-border {
  border: 3px solid blue !important;
}
.bottomnone-border{
  border-bottom: none!important;
}
.topnone-border{
  border-top: none!important;
}
.topbottomnone-border{
  border-bottom: none!important;
  border-top: none!important;
}


.leftnone-border{
  border-left: none !important;
}
.rightnone-border{
  border-right: none !important;
}
.leftRightnone-border{
  border-right: none !important;
  border-left: none !important;
}
.green-border {
  border: 3px solid blue !important;
}
.grey-border {
  border: 2px solid lightgrey;
}
.hearderleftnone-border{
  border-left: none !important;
}
.hearderrightnone-border{
  border-right: none !important;
}
.hearderleftRightnone-border{
  border-right: none !important;
  border-left: none !important;
}




.tdstyle{
  padding-left: 14px;
}
.checkbox {
  position: sticky;
  transform: translateY(-290%);
  top: 2px; /* Adjust as per your requirement */
  margin-left: 180px;
}
.formstyle{
  width: 200px;
  height: 50px;
}
















