.card{
    margin: 5px;
    height: 98%;
}
table, th, td {
    border: 1px solid black;
    width: 100%;
    height: auto;
 }
 .hover-text:hover {
    color: blue;
  }
  .rowdata{
    height:50px;
  }
  .datarow{
    margin-left: 20px;
  }