<div class="card col-md-12 mt-3">
    
    <!-- <p-tabView [(activeIndex)]="activeIndex"  >
      
      
        <p-tabPanel *ngFor="let tab of items" [header]="tab.data.name" [hidden]="tab.data.hide === true">
            <p>{{ tab.data.name }} {{tab.data.hide}}</p>
        </p-tabPanel>
        
    </p-tabView> -->
    <p-tabView [(activeIndex)]="activeIndex">
      <ng-template ngFor let-tab [ngForOf]="items">
        <p-tabPanel *ngIf="tab.data.hide === true" [header]="tab.data.name">
          <ng-template pTemplate="header">
            {{ tab.data.name }}
          </ng-template>
          <div class="card" style="margin: 5px;" *ngIf="tab.children && tab.children.length > 0">
            <div  *ngFor="let child of tab.children">
              <ul *ngIf="child.data.type === 'container'">
                <span *ngIf="child.data.hide === true">
               <li>{{ child.data.name }}</li>
                </span>
              </ul>
              <table *ngIf="child.data.type === 'table'">
                <thead>
                  <tr>
                    <th *ngFor="let column of child.data.tabledata " [attr.colspan]="column.mergecheckboxCount">{{ column.columnName }}</th>
                  </tr>
                </thead>
                <tbody>
                    <tr >
                      <td *ngFor="let row of tableRowData" >{{ row.value }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          
          </div>
          <!-- <p>{{ tab.data.name }}</p> -->
        </p-tabPanel>
      </ng-template>
</p-tabView>
</div>
