.card{
    margin: 5px;
    height: 98%;
   
}
table {
    border: 1px solid lightgray;
    width: 100%;
    height: auto;

 }
 th, td {
    border: 1px solid lightgray;
   min-width: 200px;
    height: auto;

 }
 .hover-text:hover {
    color: blue;
  }
  .rowdata{
    height:50px;
 border-color: lightgray;
  }
  .datarow{
    // margin-left: 20px;
   // display: table-cell !important;
    text-align: center;
    border-color:lightgray;}
  ul {
    list-style: none;
  }